body {
	margin: 0;
	padding: 0;
	font-family: 'Mukta', sans-serif;
	font-size: 17px;
	color: #fff;
}

a {
	text-decoration: none;
	color: inherit;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

input {
	background: transparent;
	outline: none;
	color: #fff;
}

section { 
	color: #000;
	max-width: 550px;
	margin: 25px;
 }

.clearfix:after {
    visibility: hidden;
    display: table;
    content: "";
    clear: both;
}

/*****header*****/

.header {
	padding: 10px 0;
	background: url(../img/bg-header.jpg);
}

.navigation {
	border-top: 5px solid #e7e7e7;
	border-bottom: 5px solid #e7e7e7;
	background-color: #fff;
	margin: 50px 0;
	
}

.nav {
	color: #636677;
	text-align: center;
	position: relative;
	margin: 5px 0;

	&__item {
		display: inline-block;
		vertical-align: middle;
		padding-left: 60px;
		line-height: 55px;
		margin: 0 25px;

		&:nth-child(1) {
			background: url(../img/icon-phone.png) no-repeat 0 50%;
   	
		}

		&:nth-child(2) {
			background: url(../img/icon-address.png) no-repeat 0 50%;
		}

		&:nth-child(4) {
			background: url(../img/icon-email.png) no-repeat 0 50%;
		}

		&:nth-child(5) {
			background: url(../img/icon-mysite.png) no-repeat 0 50%;	
		}

		&_thumbnail {
			display: inline-block;
			padding: 0 50px;
			position: relative;
    		background-color: #fff;
		}
	}

	&__link {

		&_photo {
			position: absolute;
    		top: -60px;
    		left: 0;
    		background-color: #fff;
    		border-radius: 50%;
    		border: 3px solid #e7e7e7;
		}
	}

	&__avatar {
		border-radius: 50%;
		height: 120px;
		vertical-align: middle;
		
	}
}

.title {
	font-family: "RobotoSlab", sans-serif;
	text-transform: uppercase;
	font-size: 22px;
	text-align: center;
}

.description {
	text-align: center;
}

/**********About********/

.about {
	float: left;
	text-align: center;
}

.info {
	float: right;

	&__link {
		color: blue;
	}
	
}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

body {
	font-size: 14px;
}

.nav {

	&__item {
		margin: 0 15px;
	}
}

section { 
margin: 10px;
max-width: 450px; 

}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {


body {
	font-size: 12px;
}

.nav {

	&__item {
		float: left;
		text-align: left;
		margin: 0 10px;
	
		&_thumbnail {
			float: right;
		}
	}

	&__link {

		&_photo {
			top: 70px;
			left: -35px;
		}
	}
}

section { 
	font-size: 15px;
	max-width: 100%; 

}

.info {
	float: none;
	text-align: center;
}

}
/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

.nav {

	&__item {
		float: none;
		display: block;
	}

	&__link {

		&_photo {
			top: 20px;
			left: 41%;
		}
	}

}
}
/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

body {
	font-size: 10px;
}

.nav {

	&__item {
		float: none;
		display: block;
	}

	&__avatar {
		height: 100px;
	}

	&__link {

		&_photo {
			top: 40px;
			left: 41%;
		}
	}

}
}
/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}

